@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
/* line 6, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
* {
  box-sizing: border-box;
}

/* line 8, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
body {
  margin: 0;
  /* background-color: #dee7ec;  */
  text-size-adjust: 100%;
  overflow: scroll;
  min-height: 100%;
  height: auto;
  overflow: hidden visible;
}

/* line 20, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header {
  /* background-color: rgb(54, 65, 117); */
  background-color: #28385E;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 60px;
  opacity: 1;
  /* -webkit-transition: all .5s ease;
  transition: all .5s ease; */
}

/* line 32, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header:hover {
  opacity: 1;
}

/* line 36, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 90%;
}

/* line 42, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.menu > li > a, .menu > li > a:visited, .menu > li > ul > li > a, .menu > li > ul > li > a:visited {
  color: #ccc;
  /* color:#2C7CFF; */
}

/* line 46, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.menu > li:hover > a, .menu > li > ul > li:hover > a {
  color: white;
  /* transition:all .5s ease ; */
}

/* line 50, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.menu > li:hover > a, .menu > li > ul > li:hover > a {
  border-bottom: 4px solid skyblue;
}

/* line 54, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header-logo {
  float: left;
  font-size: 28px;
  margin: 10px 20% 10px 40px;
  color: white;
  /* font-family: 'Kosugi', sans-serif; */
  font-family: 'M PLUS 1p', sans-serif;
}

/* line 63, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header-logo > a:visited {
  color: white;
}

/* line 66, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
ul {
  margin: 0;
}

/* line 70, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.header-list li {
  list-style: none;
  float: left;
  font-size: 16px;
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

/* line 81, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
ul.menu-subject {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  padding: 0;
  width: 100%;
}

/* line 89, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
ul.menu-unit {
  visibility: hidden;
  opacity: 0;
}

/* .menu > li{
    /* -webkit-transition: all .3s ease;
    transition:all .3s ease ; 
} */
/* line 97, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject {
  position: absolute;
  top: 60px;
  left: 0px;
  box-sizing: border-box;
  padding: 0px 30%;
  background-color: #6A91C1;
  /* background-color: rgb(54, 65, 117); */
  /* background-color: #000033; */
  /* background: #072A24; */
  /* background: linear-gradient(to bottom, rgb(54, 65, 117), #FFF); */
  /* -webkit-transition: all .3s ease;
  transition: all .3s ease;  */
}

/* line 111, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit {
  position: absolute;
  top: 60px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 180px;
  /* padding: 0px 2%; */
  background: #ddd;
  /* -webkit-transition: all .3s ease .2s;
  transition: all .3s ease .2s; */
}

/* line 123, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* line 130, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database:hover ul.menu-subject, li.menu-database ul.menu-subject li:hover ul.menu-unit {
  top: 60px;
  visibility: visible;
  opacity: 1;
  /* padding-inline-end: 0px; */
}

/* line 137, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject > li {
  float: left;
  width: 32%;
  height: 60px;
  /* border: none; */
}

/* line 143, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul {
  height: 50%;
  /* border-bottom:2px solid white; */
  /* padding-top: 15px; */
}

/* line 148, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul:first-child {
  border-bottom: 2px groove #eee;
}

/* line 151, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li {
  float: left;
  width: 11%;
  /* -webkit-transition: all .3s ease;
  transition: all .3s ease; */
}

/* line 157, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li:first-child {
  margin: 15px 20px 15px 0px;
  font-size: 32px;
  color: black;
}

/* line 163, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li:not(:first-child) {
  margin: 15px 20px;
  font-size: 12px;
  border-radius: 8px;
  background-color: white;
}

/* line 170, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li:not(:first-child):hover {
  background-color: #2C7CFF;
}

/* line 174, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li:not(:first-child) > a {
  color: #2C7CFF;
}

/* line 177, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
li.menu-database ul.menu-subject ul.menu-unit ul > li:not(:first-child):hover > a {
  color: white;
}

/* line 183, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.top-wrapper {
  padding-top: 60px;
  background: rgba(92, 129, 202, 0.3);
  background: -moz-linear-gradient(left, rgba(92, 129, 202, 0.7) 0%, rgba(249, 140, 112, 0.7) 100%);
  background: -webkit-linear-gradient(left, rgba(92, 129, 202, 0.3) 0%, rgba(249, 140, 112, 0.3) 100%);
}

/* line 201, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.section-title {
  border-bottom: 2px solid gray;
  font-size: 32px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

/* line 208, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.container {
  margin: 0 0 300px 0;
  padding: 0;
  background-color: snow;
  border-radius: 20px;
  z-index: -1;
}

/* line 215, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.container:nth-child(3) {
  margin: 0;
}

/* line 219, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.main-top {
  max-width: 1140px;
  margin: 100px auto 0;
  min-height: 100%;
  height: auto;
  /* background-color:snow; */
}

/* line 227, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.main-visual {
  padding: 50px 50px;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-image: url(img/3385653.jpg);
  background-size: cover;
}

/* line 237, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.main-copy {
  /* margin: 10px;
  font-size: 100px; */
  font-size: 3em;
  font-family: Noto Sans JP;
  text-align: center;
  color: black;
}

/* line 245, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.main-explain {
  /* margin-left:25%; */
  text-align: center;
}

/* line 250, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.whatsgeo {
  padding: 10px 60px 60px 60px;
  display: flex;
}

/* line 256, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.whatsgeo-txt {
  padding: 30px 40px 0 0;
  margin: 0;
  width: 40%;
  font-size: 1.3em;
}

/* line 262, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.whatsgeo-txt p {
  margin: 0 0 2em 0;
}

/* line 266, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.whatsgeo-img {
  padding: 30px 0;
  margin: 0;
}

/* line 270, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp {
  display: flex;
  margin: 0;
  padding: 10px 60px 40px 60px;
}

/* line 275, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-right {
  width: 40%;
  margin-left: 2em;
}

/* line 279, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-text p {
  font-size: 16px;
}

/* line 283, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-lec-txt {
  display: none;
  opacity: 0;
}

/* line 288, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-text {
  width: 90%;
  height: 50%;
  position: relative;
  display: inline-block;
  margin: 3em 0 4em 15px;
  padding: 2em 2em;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 10px;
}

/* line 303, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-text:before {
  content: "";
  position: absolute;
  top: 30%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

/* line 313, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-text p {
  margin: 0 0 1em 0;
  padding: 0;
}

/* line 318, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.active-lec {
  display: inline;
  opacity: 1;
  transition: .5s;
}

/* line 324, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-lec-btn {
  position: absolute;
  bottom: 10px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #fff;
  transition: .4s;
}

/* line 336, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-exp-lec-btn:hover {
  background: #00bcd4;
  color: white;
}

/* line 340, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.prev-btn {
  position: absolute;
  left: 2em;
  display: none;
  cursor: pointer;
}

/* line 346, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.next-btn {
  position: absolute;
  right: 2em;
  cursor: pointer;
}

/* line 352, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geogebra-text > p {
  font-size: 20px;
  font-family: Noto Sans JP;
}

/* line 356, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.videos {
  display: flex;
  padding: 10px 60px 60px 60px;
}

/* line 360, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.videos-wrapper {
  padding-bottom: 30px;
  width: 60%;
}

/* line 366, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-video {
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

/* line 371, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.intro-geo-videoes .active-v {
  display: block;
}

/* line 374, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.timebar {
  z-index: 1;
  position: relative;
  width: 0;
  height: 5px;
  /* left:0; */
  left: 5%;
  background-color: #BAD3FF;
}

/* line 383, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.dammy {
  z-index: 0;
  position: relative;
  top: -5px;
  /* width:100%; */
  width: 90%;
  height: 5px;
  background-color: #FFF;
}

/* line 393, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.video-switches {
  position: relative;
  top: -5px;
  /* width:100%; */
  width: 90%;
  margin: 0 auto;
  /* background-color:#EEE; */
  background-color: #eee;
  display: flex;
  justify-content: center;
  opacity: 0.8;
}

/* line 405, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.video-switch {
  margin: 10px 10px;
  cursor: pointer;
}

/* line 409, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-circle {
  font-size: 0.3em;
  color: #fff;
  text-shadow: black 0 0 1px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 417, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-circle:hover {
  font-size: 0.8em;
  color: #BBB;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-shadow: none;
}

/* line 424, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.video-switches .active-v i {
  font-size: 0.8em;
  color: black;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-shadow: none;
}

/* line 434, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.leading {
  width: 40%;
  padding-left: 20px;
}

/* line 438, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.leading p {
  font-size: 1.3em;
  margin: 0 0 2em 0;
}

/* line 445, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.contents-heading {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 30px 40px;
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  z-index: 4;
}

/* line 455, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.contents-heading:before {
  content: "";
  position: absolute;
  background: #9de5ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  /* border: dashed 1px white; */
  left: 30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

/* line 469, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.contents {
  padding: 20px 0;
}

/* line 473, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.contents-item {
  width: 100%;
  /* float:left; */
  margin: 0 auto;
  padding: 0 3%;
  text-align: center;
  opacity: 1;
  /* -webkit-transition: all .3s ease;
  transition: all .3s ease; */
}

/* line 485, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.contents-item:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

/* line 491, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.clear {
  clear: left;
}

/* line 495, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.database {
  display: inline-block;
  background-color: #D9E5FF;
  border-radius: 40px;
  transition: .5s;
  opacity: 0.9;
}

/* line 502, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.database:hover {
  background-color: #BAD3FF;
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  transition: .5s;
}

/* line 509, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.database img {
  vertical-align: middle;
  padding: 15px 8px 9px 0;
}

/* line 514, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study {
  display: inline-block;
  background-color: #E6FFE9;
  border-radius: 40px;
  transition: .5s;
  opacity: 0.9;
}

/* line 521, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study:hover {
  background-color: #CBFFD3;
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.28);
  transition: .5s;
}

/* line 528, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study img {
  vertical-align: middle;
  padding: 15px 8px 9px 0;
}

/* line 532, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.geogebra {
  background-color: yellow;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px gray;
}

/* line 538, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.link {
  background-color: orange;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px gray;
}

/* line 545, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-item {
  width: 300px;
  margin: 0px;
}

/* line 549, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject {
  float: left;
  width: 23%;
  height: 1000px;
  margin: 0 5% 100px;
  background-color: #eee;
  border-radius: 10px;
}

/* line 557, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject h2 {
  padding: 10px 0px;
  text-align: center;
}

/* line 562, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-item ul {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

/* line 568, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-item li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 30px;
  text-decoration: none;
}

/* line 575, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-item a {
  text-decoration: none;
}

/* line 578, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-item li > a:visited {
  color: #00008b;
}

/* line 582, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-title {
  background-color: #7B9AD0;
  border-bottom: 4px solid black;
  margin-top: 0;
  border-radius: 10px 10px 0 0;
  color: white;
}

/* line 591, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.subject-title a {
  color: white;
  text-decoration: none;
}

/* line 596, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.index {
  background-color: #fff;
  border: 4px solid #ff9872;
  width: 300px;
  height: 490px;
  padding: 10px 0px;
  box-shadow: 0px 0px 4px gray;
}

/* line 606, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.index ul {
  color: #444;
  font-family: "Yu Gothic";
  font-size: 15px;
  padding: 10px 40px 7px 40px;
  font-weight: bold;
}

/* line 613, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.index li {
  list-style: none;
  font-size: 12px;
  padding: 5px 50px;
}

/* line 619, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-title {
  /* border-bottom:4px solid #8EB8FF; */
  color: black;
  font-size: 1.2em;
  display: inline-block;
  font-weight: lighter;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px 25px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  z-index: 10;
  background: #aaa;
}

/* line 638, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit hr {
  margin-top: 0;
  margin-bottom: 40px;
  background-image: -webkit-linear-gradient(left, transparent 0%, #283593 50%, transparent 100%);
  background-image: linear-gradient(90deg, #283593 0%, transparent 100%);
  height: 4px;
  border-width: 0;
}

/* line 649, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.index li a, .index li a:visited {
  color: #444;
}

/* line 652, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.index li a:hover {
  color: gray;
  text-decoration: none;
}

/* line 657, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit {
  width: 100%;
}

/* line 660, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item {
  width: 70%;
  margin: 0 0 0 15%;
  display: flex;
  background-color: whitesmoke;
  padding: 40px 80px;
  border-radius: 32px;
  margin-bottom: 48px;
}

/* line 670, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-caption {
  width: 42%;
}

/* line 673, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-caption img {
  margin-right: 200px;
}

/* line 676, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-title {
  position: relative;
  top: -80px;
  font-family: 'Noto Sans JP', sans-serif;
  display: inline-block;
  padding: 10px 20px;
  background: #fff8e8;
  border-left: solid 20px #ffc06e;
  box-shadow: 15px -4px 10px -6px rgba(0, 0, 0, 0.32);
}

/* line 686, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts {
  width: 50%;
  margin-left: 5%;
}

/* line 690, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts dl {
  display: flex;
  background: white;
  border-radius: 12px;
}

/* line 695, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts dl p {
  font-family: 'yu gothic';
}

/* line 699, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts .unit-item-arttitle {
  margin-top: 62px;
}

/* line 703, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts dt {
  width: 150px;
  font-weight: 600;
}

/* line 708, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.unit-item-texts dd {
  margin: 0;
  font-family: "yu gothic";
}

/* line 713, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.comment {
  padding: 0 20px;
}

/* -------自学自習ページ--------- */
/* -----TOP------- */
/* line 721, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-wrapper {
  background-color: #f9fbfe;
  /* background-color:tomato; */
  padding-top: 60px;
  padding-bottom: 32px;
}

/* line 728, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-contents-wrapper {
  display: flex;
  margin-bottom: 92px;
}

/* line 732, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-container:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.28);
  transition: .5s;
}

/* line 737, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-container {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 20px 30px 22px;
  text-decoration: none;
}

/* line 747, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-container:visited {
  color: black;
}

/* line 750, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-item-img {
  width: 100%;
  margin-bottom: 2em;
}

/* line 754, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-item-txt {
  /* margin-left:3em; */
  /* width:60%; */
  padding: 1em 1em 1em 1em;
  background-color: white;
}

/* line 760, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-item-txt p {
  font-size: 1.2em;
}

/* line 763, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-top-item-txt-diff {
  text-align: center;
  margin: 0;
}

/* ------レッスン選択画面------  */
/* .study-beginer-body{
     background: linear-gradient(-45deg, rgba(246, 255, 0, .4), rgb(245, 178, 35, .4)); 
} */
/* line 772, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-wrapper {
  margin: 0 auto 2px;
  width: 80%;
  position: relative;
}

/* line 777, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-wrapper:last-child {
  margin-bottom: 100px;
}

/* line 780, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-container {
  /* display:flex;
  background:rgba(255,255,255,0.5);
  border-radius:3px 3px 0 0 ;
  cursor:pointer;
  position:relative;
  */
  cursor: pointer;
  transition: all .2s ease-in;
  display: flex;
  padding: 0.5em 1em;
  margin: 1em 0 0 0;
  background: #f4f4f4;
  border-left: solid 6px #5bb7ae;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

/* line 796, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-container:hover {
  /* background-color: white; */
  background: rgba(255, 214, 100, 0.386);
}

/* line 801, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-shoe-prints {
  font-size: 0.6em;
  transform: rotate(-60deg);
  margin: 0 5px 0 15px;
  position: relative;
  top: -5px;
}

/* line 808, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-step h2 {
  margin: 15px 0;
  font-family: 'Caveat', cursive;
}

/* line 813, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-img {
  margin: 20px 50px 20px 50px;
  float: left;
}

/* line 817, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-text {
  padding: 40px 0;
}

/* line 820, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-drafting-compass {
  font-size: 0.6em;
  color: gray;
}

/* line 825, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-text p {
  margin: 0;
  font-size: 1.5em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* line 830, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-sort-down {
  position: relative;
  left: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  opacity: 0.7;
  z-index: 100;
  transition: .5s ease-in;
}

/* line 839, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-list {
  display: none;
  list-style: none;
  padding: 0;
}

/* line 844, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-list li {
  background-color: white;
  /* padding-left:10%; */
  opacity: 1;
  border-bottom: 1px solid orange;
}

/* line 850, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-lesson-list li p {
  margin: 0;
  padding: 0;
}

/* line 854, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-link {
  display: block;
  padding: 0 30px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* line 862, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.study-link:hover {
  background: rgba(255, 214, 100, 0.386);
  transition: .2s ease;
}

/* line 867, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.arrowbar {
  border-radius: 0 0 3px 3px;
  background-color: #f4f4f4;
  height: 1.2em;
  display: block;
  z-index: 999;
}

/* line 874, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.arrow {
  transform: rotate(225deg);
  transition: .4s ease-in;
  position: relative;
  left: 50%;
  bottom: 5px;
}

/* -----レッスン画面------ */
/* ------ ダイアログ------ */
/* line 883, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
}

/* line 892, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: #e6ecf0;
  padding: 0px 0 40px;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  /* text-align: center; */
}

/* line 903, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-upper {
  display: flex;
  background-color: #bbb;
  border-radius: 10px 10px 0 0;
}

/* line 908, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-upper-title {
  width: 97%;
  text-align: left;
  margin: 0;
  padding: 17px 0 15px 20px;
  /* background-color:rgba(130, 235, 130,0.5); */
  border-radius: 10px 0 0 0;
}

/* line 916, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-upper-title p {
  margin: 0;
}

/* line 919, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-upper-btn {
  cursor: pointer;
  margin: 5px 20px 5px 0;
  font-size: 2em;
}

/* line 924, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-toex-btn {
  position: absolute;
  bottom: 27px;
  right: 30px;
  cursor: pointer;
  display: none;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #00CC33;
  font-weight: bold;
  border: solid 3px lightgreen;
  border-radius: 3px;
  transition: .4s;
}

/* line 939, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-toex-btn:hover {
  background: lightgreen;
  color: white;
}

/* line 946, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-next-btn {
  position: absolute;
  bottom: 20px;
  right: 40px;
  cursor: pointer;
  font-size: 2em;
  color: lightgreen;
}

/* line 954, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-prev-btn {
  position: absolute;
  bottom: 20px;
  right: 140px;
  cursor: pointer;
  display: none;
  font-size: 2em;
  color: lightgreen;
}

/* line 964, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-student {
  display: flex;
  align-items: center;
  /* display:none; */
  height: 0;
  opacity: 0;
}

/* line 971, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-teacher {
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* display:none; */
}

/* line 979, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-visualmedia {
  height: 100%;
  margin: 0 auto;
}

/* line 983, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-visualmedia img {
  text-align: center;
}

/* line 986, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.show {
  display: flex;
  height: 100%;
  opacity: 1;
}

/* line 992, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-student img, .lesson-modal-teacher img {
  margin: 20px 40px;
  border-radius: 50%;
}

/* line 996, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.says-student {
  display: inline-block;
  position: relative;
  margin: 25px 0 25px 80px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

/* line 1005, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.says-student:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

/* line 1015, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.lesson-modal-dialog p {
  font-family: Noto Sans JP;
  margin: 1em;
  padding: 0;
}

/* line 1020, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.important-point {
  font-size: 1.2em;
}

/* line 1023, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.important-point::after {
  border-bottom: solid 2px #f00;
  bottom: 0;
  content: "";
  display: block;
  transition: all 3s ease-in;
  -webkit-transition: all 3s ease-in;
  width: 0;
}

/* line 1032, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.show .important-point::after {
  width: 100%;
}

/* line 1037, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.says-teacher {
  display: inline-block;
  position: relative;
  margin: 40px 80px 40px 0;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

/* line 1045, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.says-teacher img {
  border-radius: 0;
}

/* line 1049, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.says-teacher:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #d7ebfe;
}

/* -------ダイアログここまで------ */
/* ------レッスン実践画面-------- */
/* line 1060, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-wrapper {
  margin-top: 80px;
}

/* line 1063, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-title {
  font-size: 3em;
  margin: 5px 10%;
}

/* line 1067, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-explain {
  margin: 2px 10%;
}

/* line 1070, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-practice {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* line 1075, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-geogebra {
  width: 750px;
  height: 450px;
  margin: 0 auto;
  padding: 30px;
  justify-content: space-between;
}

/* line 1082, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-lightbulb {
  margin-right: 4px;
  color: orange;
}

/* line 1086, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.mission-hint {
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
}

/* line 1091, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.prev-lesson-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 30px;
  background-color: #8CD790;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  transition: .5s;
  opacity: 0.6;
}

/* line 1103, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.next-lesson-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 30px;
  background-color: #8CD790;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  transition: .5s;
  opacity: 0.6;
}

/* line 1115, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.next-lesson-btn:hover, .prev-lesson-btn:hover {
  transform: translateY(-5px);
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.28); */
  transition: .5s;
  opacity: 1.0;
}

/* line 1122, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.next-lesson-btn p, .prev-lesson-btn p {
  margin: 20% 0;
  font-weight: bold;
  font-family: 'M PLUS 1p', sans-serif;
  color: #fff;
}

/* line 1131, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-angle-up {
  color: blue;
  font-size: 3em;
  opacity: 0.5;
  position: fixed;
  bottom: 30px;
  right: 80px;
  width: 48px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 1145, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-angle-up:hover {
  opacity: 1;
}

/* line 1148, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-angle-down {
  font-size: 1.5em;
  margin-left: 9px;
  position: fixed;
  top: 16px;
}

/* line 1154, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.fa-shapes, .fa-user {
  color: orange;
  margin: 0 10px;
}

/* line 1160, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
.top-dummy {
  height: 300px;
}

/* line 1164, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #174a5c;
  color: white;
  text-align: center;
}

/* line 1171, C:/Users/00xxr/geogebra_website/app/assets/stylesheets/home.scss */
ul.footer-menu li {
  display: inline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

