<div class="database-wrapper">
            <!-- <div class="section-title">高校数学教材集</div> -->
    <div class="database-top-subject">
        <h2 class="subject-title">数学Ⅰ</h2>
        <div class="subject-item">
            <ul>数と式</ul>
                <li><%= link_to("式と計算","/database/math-1")%></li>
                <li><%= link_to("実数","/database/math-1")%></li>
                <li><%= link_to("1次不等式","/database/math-1")%></li>
            <ul>集合と命題</ul>
                <li><a href="/database/math-1">集合と命題</a></li>
            <ul>2次関数</ul>
                <li><a href="math1.html#131">2次関数とグラフ</a></li>
                <li><a href="math1.html#132">2次関数の値の変化</a></li>
                <li><a href="math1.html#133">2次方程式と2次不等式</a></li>
            <ul>図形と計量</ul>
                <li><a href="math1.html#141">三角比</a></li>
                <li><a href="math1.html#142">三角比への応用</a></li>
            <ul>データの分析</ul>
                <li><a href="math1.html#151">データの分析</a></li>
        </div>
    </div>
    <div class="database-top-subject">
        <h2 class="subject-title">数学Ⅱ</h2>
        <div class="subject-item">
            <ul>式と証明</ul>
                <li>式と計算</li>
                <li>等式・不等式の証明</li>
            <ul>複素数と方程式</ul>
            <li>複素数と2次方程式の解</li>
            <li>高次方程式</li>
            <ul>図形と方程式</ul>
            <li>点と直線</li>
                <li>円</li>
                <li>軌跡と領域</li>
            <ul>三角関数</ul>
            <li>三角関数</li>
                <li>加法定理</li>
                <ul>指数関数と対数関数</ul>
                <li>指数関数</li>
                <li>対数関数</li>
            <ul>微分と積分</ul>
            <li>微分係数と導関数</li>
                <li>関数の値の変化</li>
                <li>積分法</li>
        </div>
    </div>
    <div class="database-top-subject">
        <h2 class="subject-title">数学Ⅲ</h2>
        <div class="subject-item">
            <ul>
                <ul>複素数平面</ul>
                <ul>式と曲線</ul>
                <ul>関数</ul>
                <ul>極限</ul>
                <ul>微分法</ul>
                <ul>微分法の応用</ul>
                <ul>積分法とその応用</ul>
            </ul>
        </div>
    </div>
    <div class="database-top-subject">
        <h2>数学A</h2>
        <div class="subject-item">
            <ul>
                <ul>場合の数と確率</ul>
                <ul>整数の性質</ul>
                <ul>図形の性質</ul>
            </ul>
        </div>
    </div>
    <div class="database-top-subject">
        <h2>数学B</h2>
        <div class="subject-item">
            <ul>
                <ul>平面上のベクトル</ul>
                <ul>空間上のベクトル</ul>
                <ul>数列</ul>
                <ul>確率分布と統計的な推測</ul>
            </ul>
        </div>
    </div>
</div>