<main>
            <div class="database-link-wrapper">
                <%# <a id="top"></a><h1 class="section-title">数と式</h1> %>
                <div class="database-link-container">

                        <div class="index">
                            <ul>数と式</ul>
                                <li><a href="#111">式と計算</a></li>
                                <li><a href="#112">実数</a></li>
                                <li><a href="#113">一次不等式</a></li>
                            <ul>集合と命題</ul>
                                <li><a href="#121">集合と命題</a></li>
                            <ul>2次関数</ul>
                            <li><a href="#131">2次関数とグラフ</a></li>
                                <li><a href="#132">2次関数の値の変化</a></li>
                                <li><a href="#133">2次方程式と2次不等式</a></li>
                            <ul>図形と計量</ul>
                                <li><a href="#141">三角比</a></li>
                                <li><a href="#142">三角比への応用</a></li>
                            <ul>データの分析</ul>
                                <li><a href="#151">データの分析</a></li>
                        </div>
                        <div class="unit-container">
                        <div class="unit">
                            <a id="111"></a><h2 class="unit-title">式の計算</h2>
                            
                            <div id="1111"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">展開の公式</h3> %>
                                    <img src="/images/1111.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/A8RKzfue" target="_brank">https://www.geogebra.org/m/A8RKzfue</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>Expand 展開</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>hara tomoki</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>式の展開の練習をすることができます。「ランダムで出題」ボタンをクリックすると問題がランダムで出てくるので答えを入力して「採点」ボタンを押すと判定してくれます。<br>
                                        自分で問題を作成することも可能です。</p>
                                    </dl>
                                </div>
                            </div>
                            <div id="1112"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">因数分解</h3> %>
                                    <img src="/images/1112.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/KRfxg4Bu" target="_brank">https://www.geogebra.org/m/KRfxg4Bu</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>因数分解</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Kazushi AHARA</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>基本的な二次式の因数分解をします。</p>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="unit">
                            <a id="112"></a><h2 class="unit-title">実数</h2>
                            
                            <div id="1121"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">実数</h3> %>
                                    <video src="video/v1121.mp4" width="300px" controls></video>
                                    <!-- <img src="/images/1121.png" width="300px"> -->
                                    <p><a href="https://www.geogebra.org/m/ykkrgfb3" target="_brank">https://www.geogebra.org/m/ykkrgfb3</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>私は誰でしょう？</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>hara tomoki</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>ヒントを頼りに数字を分類します。</p>
                                    </dl>
                                </div>
                            </div>
                            <div id="1122"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">絶対値</h3> %>
                                    <img src="/images/1122.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/f6dGTf8x" target="_brank">https://www.geogebra.org/m/f6dGTf8x</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>数直線、絶対値</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>hase3desu</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>「数直線」＞「絶対値表示」の順にボタンをクリックして「絶対値」を入力。
                                        「animation」ボタンをクリックすると、"絶対値が入力した値以下となるような数(|x|&le;(入力した値))"の範囲が数直線上に表示されます。
                                        </p>
                                    </dl>
                                </div>
                            </div>
                            <div id="1123"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">絶対値</h3> %>
                                    <img src="/images/1123.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/ayz45Ngu" target="_brank">https://www.geogebra.org/m/ayz45Ngu</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>絶対値のグラフ</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Kazushi AHARA</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>xの値を変えたときの|x|の値の変化の仕方、およびy=|x|のグラフの形を確認することができます。
                                        </p>
                                    </dl>
                                </div>
                            </div>
                            <div id="1124"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">分母の有理化</h3> %>
                                    <img src="/images/1124.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/DK83Ft6n" target="_brank">https://www.geogebra.org/m/DK83Ft6n</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>有理化2</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Kazushi AHARA</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>根号を含む分数の分母の有理化
                                        </p>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="unit">
                            <a id="113"></a><h2 class="unit-title">一次不等式</h2>
                            
                            <div id="1131"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">不等式の性質</h3> %>
                                    <img src="/images/1131.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/GsZVvNMA" target="_brank">https://www.geogebra.org/m/GsZVvNMA</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>不等式(加法減法)</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Tanaka</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>スライダを動かして、区間の範囲を確認することができます。
                                        </p>
                                    </dl>
                                </div>
                            </div>

                            <div id="1132"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">不等式の性質</h3> %>
                                    <img src="/images/1132.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/mXtKcaVj" target="_brank">https://www.geogebra.org/m/mXtKcaVj</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>不等式(乗法除法)</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Tanaka</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>スライダを動かして、区間の範囲を確認することができます。
                                        </p>
                                    </dl>
                                </div>
                            </div>

                            <div id="1133"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">不等式の解</h3> %>
                                    <img src="/images/1133.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/JPKAubS9" target="_brank">https://www.geogebra.org/m/JPKAubS9</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>区間の定める集合を確認しよう</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Kazushi AHARA</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>スライダを動かして、区間の範囲を確認することができます。
                                        </p>
                                    </dl>
                                </div>
                            </div>

                            <div id="1134"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">不等式の解</h3> %>
                                    <img src="/images/1134.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/dVt4Gew7" target="_brank">https://www.geogebra.org/m/dVt4Gew7</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>1次不等式の解の包含関係</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>Yuuki Suenari</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>一次不等式の問題が表示されています。定数の値によって変化する解の範囲を見ることができ、問題を解く手がかりになります。
                                        </p>
                                    </dl>
                                </div>
                            </div>

                            <div id="1135"class="unit-item">
                                <div class="unit-item-caption">
                                    <%# <h3 class="unit-item-title">連立不等式</h3> %>
                                    <img src="/images/1135.png" width="300px">
                                    <p><a href="https://www.geogebra.org/m/exemqUyh" target="_brank">https://www.geogebra.org/m/exemqUyh</a></p>
                                </div>
                                <div class="unit-item-texts">
                                    <dl class="unit-item-arttitle">
                                        <dt><i class="fas fa-shapes"></i>作品タイトル:</dt>
                                        <dd>不等式と整数の個数</dd>
                                    </dl>
                                    <dl class="author">
                                        <dt><i class="fas fa-user"></i>作成者:</dt>
                                        <dd>嶋津恒彦</dd>
                                    </dl>
                                    <dl class="comment">
                                        <p>「x&lt;4/9，a+3&lt;を満たすxの整数の個数が２個となるaの範囲を求めよ」の問いを可視化したものです。GeoGebra上でaの値を動かしてxの範囲がどのように変わるのかを見ることができます。<br> <br>
                                        参考Webサイト:<a href="http://simanezumi1989.hatenablog.com/entry/2015/07/17/%E5%8B%95%E3%81%8D%E3%81%A7%E3%82%8F%E3%81%8B%E3%82%8B%EF%BC%81%E9%80%A3%E7%AB%8B%EF%BC%91%E6%AC%A1%E4%B8%8D%E7%AD%89%E5%BC%8F%E3%81%A8%E6%95%B4%E6%95%B0%E3%81%AE%E5%80%8B%E6%95%B0">Hello Dream World</a>
                                        </p>
                                    </dl>
                                </div>
                            </div>
                            
                        </div>
                        <div class="unit">
                        <a id="121"></a><p class="unit-title">集合と命題</p>
                        </div>
                        <div class="unit">
                        <a id="131"></a><p class="unit-title">2次関数とグラフ</p>
                            <div class="unit-item">
                            </div>
                        </div>
                        <div class="unit">
                        <a id="132"></a><p class="unit-title">2次関数の値の変化</p>
                        </div>
                        <div class="unit">
                        <a id="133"></a><p class="unit-title">2次関数と2次不等式</p>
                        </div>
                        <div class="unit">
                        <a id="141"></a><p class="unit-title">三角比</p>
                        </div>
                        <div class="unit">
                        <a id="142"></a><p class="unit-title">三角比への応用</p>
                        </div>
                        <div class="unit">
                        <a id="151"></a><p class="unit-title">データの分析</p>
                        </div>
                    </div>
                </div>
                </div>
        </main>