<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-1. 三角形の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>今回は、三角形の内接円を作図するぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>内接円…久しぶりに聞きました、その単語。</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>内接円の定義は覚えているかな？</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>たしか、三角形の中にあってすべての辺に接する円でしたっけ</p>
                </div>
            </div>
        
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>そのとおり。</p>
                    <p>三角形の内接円の性質として、三角形の角の二等分線の交点が内接円の中心になるのじゃ</p>
                    <img src="/images/study011-1.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>ありましたね、そんな性質</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>ひとまず、三角形の作図から始めていこう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>上のツールバーから、多角形をクリックして適当に3つ点を作図し、</p>
                    <p>最後に一番最初に作図した点をクリックすることで三角形が作図されるぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <video src="/videos/study011video1.mp4"  width="550px" controls></video>
                    <p>※動画内の右下にある四角をクリックすることで全画面表示にできます</p>
                    <p>※音声は流れません</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>さあ、実際に演習をしてみよう</p>
                    <p>演習画面になったら左上のナビにしたがって、作図をしてみるのじゃ</p>
                    <img src="/images/study011-2.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>作図が完成したら、「完成見本」をクリックし、見本と見比べてみよう</p>
                    <img src="/images/study011-4.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>見本と同じように作図できたら、ページ右側にある「NextLesson」をクリックして次のレッスンに進もう</p>
                    <img src="/images/study011-3.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">三角形を作図してみよう</p>
    <p class="mission-explain">適当な三角形を作図してみよう</p>
    <p class="mission-explain">間違えて作図してしまった場合は、オブジェクトを右クリックして「削除」を選びます</p>
    <div class="mission-practice">
        <div class="mission-geogebra">
            <iframe scrolling="no" title="２点の作図" src="https://www.geogebra.org/material/iframe/id/jp8m2agt/width/700/height/400/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/circle/012">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
           <iframe scrolling="no" title="三角形見本" src="https://www.geogebra.org/material/iframe/id/jhj6nemq/width/700/height/520/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="520px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>