<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-2. 二等分線の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-student lesson-modal-dialog show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>三角形、作図できました！</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>うむ。次は、内接円の中心を作図するために、角の二等分線を作図していくぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>


            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>二等分線は、ツールバーの「角の二等分線」から作図できるぞ</p>
                    <p>「角の二等分線」をクリックしたら、三角形の頂点を順にクリックすることで作図できるのじゃ</p>
                    <p>例えば、頂点B,A,Cの順にクリックすると、角Aの二等分線が作図されるぞ</p>
                    <video src="/videos/study012video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>理解できました！</p>
                </div>
            </div>
        
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>早速演習してみよう</p>
                    <p>今回は、三角形のすべての頂点における二等分線を作図してみるのじゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">二等分線を作図してみよう</p>
    <p class="mission-explain">①　三角形がすでに作図されています。すべての頂点で、二等分線を作図してみましょう</p>
    <p class="mission-explain">②　ツールバーの「点」を選び、作図した直線の交点をクリックし二等分線の交点を作図してみましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/circle/011">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="二等分線演習" src="https://www.geogebra.org/material/iframe/id/ewttfbbb/width/700/height/520/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="700px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/circle/013">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
           <iframe scrolling="no" title="二等分線見本" src="https://www.geogebra.org/material/iframe/id/ewjfsvpv/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>