<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-4. 円の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            
            <div class="lesson-modal-student lesson-modal-dialog show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>あとは円を作図するだけですね！</p>
                </div>
            </div>
            

            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>円の作図方法は色々あるが、今回は、「中心と円周上の一点で決まる円」を使っていくぞ</p>
                    <p>これは、円の中心と、円が通る点が決まっている場合に使う方法じゃ</p>
                    <video src="/videos/study014video1.mp4"  width="550px" controls muted></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>なるほど、だから円の中心と円が必ず通る点を作図していたわけですね！</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>そのとおり！それじゃあ早速演習じゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>


            <%# <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>そういえば、直線が多くてごちゃごちゃしてきているだろう</p>
                    <p>そういうときは、左側に出てくる数式ビューと呼ばれるところに注目じゃ</p>
                    <p>数式の左側の●をクリックすると対応する数式を表示させたり、非表示にしたりすることができるのじゃ</p>
                    <p>次の演習から数式ビューを表示させておくぞ</p>
                    <img src="/images/study014-1.png" width="350px">
                    <img src="/images/study014-2.png" width="350px">

                </div>

                <img src="/images/doctor.png" alt="teacher">
            </div> %>
            

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">内接円を作図してみよう</p>
    <p class="mission-explain">「中心と円周上の一点で決まる円」を選び、内接円の中心、内接円が通る点をクリックして内接円を作図してみましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/circle/013">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="二等分線見本" src="https://www.geogebra.org/material/iframe/id/wvzevkcg/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/circle/015">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="内接円の作図見本" src="https://www.geogebra.org/material/iframe/id/csm8hdm3/width/720/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="720px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>