<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-5. 総合演習</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            
            <div class="lesson-modal-student lesson-modal-dialog show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>ついに、完成しました！</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>上出来じゃ</p>
                    <p>このレッスンでは、今までやったことを思い出して一人で内接円をつくってもらうぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>一人で、できるかな…</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>もしつまずいたら過去のレッスンに戻ってやり方を確認しながら進めていくと良いぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>とりあえずやってみます！</p>
                </div>
            </div>
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">内接円を作図しよう</p>
    <p class="mission-explain">今までのレッスンを思い出し自力で内接円をつくってみましょう</p>
    <p class="mission-explain">もし、つまずいてしまったら、ページ右側の「目次へ」で戻って対応するレッスンを見てみましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/circle/014">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="無地1000×520" src="https://www.geogebra.org/material/iframe/id/tnc7ghrk/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/true/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="tomenu-btn" href="/study/circle">
            <p>目次へ</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="内接円の作図見本" src="https://www.geogebra.org/material/iframe/id/csm8hdm3/width/720/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="720px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>