 <div class="lesson-modal-wrapper">
            <div class="lesson-modal">
                <div class="lesson-modal-upper">
                    <div class="lesson-modal-upper-title"><p>1-1. 完成物の確認</p></div>
                    <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
                </div>
                <div class="lesson-contents">
                    <div class="lesson-modal-student lesson-modal-dialog show ">
                        <img src="/images/fox.png" alt="student" width="128px">
                        <div class="says-student">
                            <p>最近GeoGebraっていうソフトで数学の教材が作成できるって聞いたんだけど</p>
                            <p>何から始めればいいのかわからないなぁ…</p>
                            
                        </div>
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>やあ、きつねくん</p>
                            <p>どうかしたのかい？</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>

                    <div class="lesson-modal-student lesson-modal-dialog">
                        <img src="/images/fox.png" alt="student">
                        <div class="says-student">
                            <p>博士！実は…かくかくしかじか</p>
                            
                        </div>
                    </div>

                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>そういうことだったらわしに任せたまえ</p>
                            <p>まずは一つの教材を一緒に作りながらGeoGebraについて学んでいこう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>

                    <div class="lesson-modal-student lesson-modal-dialog">
                        <img src="/images/fox.png" alt="student">
                        <div class="says-student">
                            <p>はい！</p>
                        </div>
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher"><p>今回はこんなものを作ってみよう</p></div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>

                    <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
                    <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
                </div>
            </div>
        </div>
            
            
        <div class="mission-wrapper">
            <p class="mission-title">完成物を確認しよう</p>
            <p class="mission-explain">これから作成していく教材の完成物を確認します。実際に触ってみながらどんな機能があるかみてみましょう。</p>
            <p class="mission-explain">※青い点はドラッグで動かすことができ、黒い点は動かすことができません。</p>
            <div class="mission-practice">
                <div class="mission-geogebra">
                    <iframe scrolling="no" title="１次関数の最大最小" src="https://www.geogebra.org/material/iframe/id/f5wxbkzx/width/700/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
                </div>
                <a class="next-lesson-btn" href="/study/beginner/121">
                    <p>Next<br>Lesson</p>
                </a>
            </div>
        </div>
</div>
