<div class="lesson-modal-wrapper">
            <div class="lesson-modal">
                <div class="lesson-modal-upper">
                    <div class="lesson-modal-upper-title"><p>2-2. 2点を通る直線の作図</p></div>
                    <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
                </div>
                <div class="lesson-contents">
                    <div class="lesson-modal-teacher lesson-modal-dialog show">
                        <div class="says-teacher">
                            <p>点が作図できたら今度はそれらを通るような直線を作図していこう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>直線を作図する場合は、ツールバーから「2点を通る直線」を選ぶのじゃ</p>
                            <p>既存の点、または適当な位置を2つクリックすると、その2点を通るような直線が作図されるぞ</p>
                            <p>詳しくは動画を見てみよう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                        <div class="says-teacher">
                            <video src="/videos/study122-video.mp4" width="700px" controls></video>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    
                    <div class="lesson-modal-student lesson-modal-dialog">
                        <img src="/images/fox.png" alt="student" width="128px">
                        <div class="says-student">
                            <p>作図後は「移動」で青い点をドラッグすると直線もそれに合わせて動くんですね！</p>       
                        </div>
                    </div>

                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>そのとおりじゃ</p>
                            <p>早速挑戦してみよう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>

                    <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
                    <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
                </div>
            </div>
        </div>
            
        
            <div class="mission-wrapper">
                <p class="mission-title">2点を通る直線をを作図しよう</p>
                <p class="mission-explain">ツールバーから「2点を通る直線」を選びます。</p>
                <p class="mission-explain">既存の2点または、適当な2つの位置をクリックして直線を作図しましょう。</p>
                <div class="mission-practice">
                    <a class="prev-lesson-btn" href="/study/beginner/121">
                        <p>Prev<br>Lesson</p>
                    </a>
                    <div class="mission-geogebra">
                        <iframe scrolling="no" title="２点の作図" src="https://www.geogebra.org/material/iframe/id/jp8m2agt/width/700/height/400/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
                        <div class="mission-hint">
                            <i class="far fa-lightbulb"></i>やり方を確認する
                        </div>
                    </div>
                    <a class="next-lesson-btn" href="/study/beginner/131">
                        <p>Next<br>Lesson</p>
                    </a>
                </div>
            </div>