<div class="lesson-modal-wrapper">
            <div class="lesson-modal">
                <div class="lesson-modal-upper">
                    <div class="lesson-modal-upper-title"><p>3-1. 点の移動</p></div>
                    <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
                </div>
                <div class="lesson-contents">
                    <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                        <div class="says-teacher">
                            <!-- <p>直線の作図は完璧じゃ</p> -->
                            <p>次は一次関数の定義域や値域をわかりやすくする領域の部分をつくっていくぞ</p>
                            <p>下の画像のオレンジ色の部分じゃな</p>
                            <img src="/images/study131.PNG" width="350px">
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>まずは、基本となる点の移動について学習しよう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-student lesson-modal-dialog">
                        <img src="/images/fox.png" alt="student" width="128px">
                        <div class="says-student">
                            <p>点の移動？それなら簡単じゃないですか</p>       
                            <p>「移動」を選択して点をドラッグさせればいいんですよね！</p>       
                        </div>
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>その通りなんじゃが、場合によっては全く動かない点も存在するのじゃ</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-student lesson-modal-dialog">
                        <img src="/images/fox.png" alt="student" width="128px">
                        <div class="says-student">
                            <p>あっ！確かに、<a href="study111.html" target="_brank">目標物の確認</a>での教材は"黒い点"は動かなかったな・・・</p>
                        </div>
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                        <div class="says-teacher">
                            <p>点の動く領域は「自由度」と呼ばれるものによって変わってくるのじゃ</p>
                            <p class="important-point">青い点は、自由度が 2 で画面上を好きに動くことができる</p>
                            <p class="important-point">薄青色の点は、自由度が 1 で直線や曲線ならその上を動くことができる</p>
                            <p class="important-point">黒い点は、自由度が 0 でドラッグで動かすことはできない</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>自由度2の点は、なにもないところ</p>
                            <p>自由度1の点は、直線や曲線などの上</p>
                            <p>自由度0の点は、直線や曲線等の交点</p>
                            <p>点を置く位置によって自由度が変わるのじゃ</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>
                    <div class="lesson-modal-teacher lesson-modal-dialog">
                        <div class="says-teacher">
                            <p>それぞれの点がどう動くのか実際に体験してみよう</p>
                        </div>
                        <img src="/images/doctor.png" alt="teacher">
                    </div>

                    <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
                    <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
                    <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
                </div>
            </div>
        </div>
            
        
            <div class="mission-wrapper">
                <p class="mission-title">自由度が異なる点を動かしてみよう</p>
                <p class="mission-explain"></p>
                <p class="mission-explain">既存の2点または、適当な2つの位置をクリックして直線を作図しましょう。</p>
                <div class="mission-practice">
                    <a class="prev-lesson-btn" href="/study/beginner/122">
                        <p>Prev<br>Lesson</p>
                    </a>
                    <div class="mission-geogebra">
                        <iframe scrolling="no" title="２点の作図" src="https://www.geogebra.org/material/iframe/id/jp8m2agt/width/700/height/400/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
                        <div class="mission-hint">
                            <i class="far fa-lightbulb"></i>やり方を確認する
                        </div>
                    </div>
                    <a class="next-lesson-btn" href="/study/beginner/132">
                        <p>Next<br>Lesson</p>
                    </a>
                </div>
            </div>