<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-2. 垂線の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>次は垂線の作図をしてみよう</p>
                    <p>まずは動画で作図の仕方を見てみよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                        <video src="/videos/study132video.mp4" width="700px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>垂線を作図する場合は、ツールバーから「垂線」を選ぶのじゃ</p>
                    <p>点をクリックしたあとに直線をクリックすることで垂線が作図されるのじゃ</p>
                    <p>直線のあとに点をクリックしてもよいぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>点が直線上にあっても同じ要領で できますね！</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>下の図のオレンジ色の領域の両端となる直線を作図してみよう</p>
                    <img src="/images/study131.PNG" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
        

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">領域の両端を作図しよう</p>
    <p class="mission-explain">x軸上に点を２つ作図します。</p>
    <p class="mission-explain">ツールバーから「垂線」を選択します。</p>
    <p class="mission-explain">作図した点をクリックし、x軸をクリックします。</p>
    <p class="mission-explain">２つの垂線を作成しましょう。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/131">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
           <iframe scrolling="no" title="2-1見本" src="https://www.geogebra.org/material/iframe/id/z9zhgugw/width/700/height/400/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/133">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <%# <div class="lesson-modal-upper-title"><p>3-2. 垂線の作図</p></div> %>
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
            <iframe scrolling="no" title="3-2見本" src="https://www.geogebra.org/material/iframe/id/dp7cw38m/width/700/height/401/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="401px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>