<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-3. 交点の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>次は交点を作図してみよう</p>
                    <p>動画で作図の仕方を見てみよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                        <video src="/videos/study133video.mp4" width="700px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>交点を作図する場合は、ツールバーから「2つのオブジェクトの交点」を選ぶのじゃ</p>
                    <p>2つの図形が重なっているところをクリックすると交点が作図されるぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>図形を動かすとそれに合わせて交点も動くんですね！</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>前のレッスンで作った垂線と直線との交点を作図してみよう</p>
                    <img src="/images/study131.PNG" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
        

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">交点を作図しよう</p>
    <p class="mission-explain">ツールバーから「2つのオブジェクトの交点」をクリックします。</p>
    <p class="mission-explain">x軸との垂線と、自由に動く直線の交わっているところをクリックし交点を作図します。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/132">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="3-3" src="https://www.geogebra.org/material/iframe/id/yfy4v75r/width/1000/height/520/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/134">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <%# <div class="lesson-modal-upper-title"><p>3-2. 垂線の作図</p></div> %>
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
            <iframe scrolling="no" title="3-3見本" src="https://www.geogebra.org/material/iframe/id/heubcn4c/width/700/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>