<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-4. 数式ビュー・入力バーの表示</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-student lesson-modal-dialog show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>少しずつ完成物に近づいてきましたね！</p>
                </div>
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>今まで作成した図形がどんな式や座標で表されるかを確認したいな・・・。</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>①右上の三本線のメニューバーをクリックして「表示」を開く</p>
                    <p>②「数式」のチェックをつける</p>
                    <p>すると、左側に今まで作成した図形の数式が現れるようになるぞ。これを数式ビューというのじゃ</p>
                    <video src="/videos/study134video.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>数式ビューの左側の○をクリックするとオブジェクトの表示・非表示が切り替えられますね！</p>
                    <video src="/videos/study134video2.mp4"  width="550px" controls></video>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>数式ビューを出した時と同様に、「入力バー」も出してみよう</p>
                    <p>メニューバー → 表示 → 入力バーにチェック</p>
                    <p>で入力バーを表示できるぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>入力バーでは何ができるんですか？</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>入力バーでは「オブジェクト」か「コマンド」が入力できるぞ</p>
                    <p>詳しくは次のステップでやろう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
           
        

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">入力コマンドを使ってみよう</p>
    <p class="mission-explain">ツールバーから「2つのオブジェクトの交点」をクリックします。</p>
    <p class="mission-explain">x軸との垂線と、自由に動く直線の交わっているところをクリックし交点を作図します。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/133">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="3-3見本 のコピー" src="https://www.geogebra.org/material/iframe/id/gdvc3eny/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/false/asb/true/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/135">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
            <iframe scrolling="no" title="3-3見本" src="https://www.geogebra.org/material/iframe/id/heubcn4c/width/700/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>