<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-5. x座標・y座標の取り出し方</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>入力コマンドを使うと様々なことができるようになるのじゃ</p>
                    <p>例えば、点の座標やyとxの式を入力するとそのオブジェクトが生成されるぞ</p>
                     <video src="/videos/study135video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>コマンドを使うと、ツールでは実行できないようなこともできるのじゃ</p>
                    <p>例えば、x("点")やy("点")で、点のｘ座標やy座標の数値を取り出すことができるぞ</p>
                    <p>試しに点Aと点Bのx座標を取り出してみよう</p>
                    <video src="/videos/study135video2.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
        

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">点のx座標をとりだしてみよう</p>
    <p class="mission-explain">あらかじめ点Aと点Bが作図されています。点Aと点Bのy座標を取り出してみましょう。</p>
    <p class="mission-explain">入力バーにコマンドを打ち、それぞれの値をとりだします。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/134">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="135" src="https://www.geogebra.org/material/iframe/id/zbyvu8nd/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/136">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
            <iframe scrolling="no" title="3-3見本" src="https://www.geogebra.org/material/iframe/id/heubcn4c/width/700/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
        </div>
        <div class="lesson-modal-sample-comment">
            <p>完成見本と同じ様になったら</p>
        </div>
    </div>
</div>