<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-6. 変数の作成</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>今回は変数について説明するぞ</p>
                    <p>変数はツールバーの”スライダー”で作成することができるのじゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>ツールバーで"スライダー"をクリックした後に、画面上の適当な場所をクリックするとスライダーの設定画面が出てくるぞ</p>
                    <p>最小と最大で、変数の変域を設定することができるのじゃ</p>
                    <video src="/videos/study136video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

             <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>変数はどこで使うんですか？</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p></p>
                    <p>例えば、ツールバーに”大きさを指定した角度”というものがある</p>
                    <p>これを使うと指定された角度を持つ3つの点が作図される。</p>
                    <video src="/videos/study136video2.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p></p>
                    <p>この角度の代わりに、変数を入れてあげるとその変数の値がそのまま角度になるのじゃ</p>
                    <p>ただし、この場合最初のスライダーの設定で変数を角度にする必要があるぞ</p>
                    <video src="/videos/study136video3.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
        

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
        
<div class="mission-wrapper">
    <p class="mission-title">変数を使ってみよう</p>
    <p class="mission-explain">長さが変数によって変わるような線分を作図してみましょう。</p>
    <p class="mission-explain">ツールバーのスライダーから数値の変数を作成します</p>
    <p class="mission-explain">ツールバーに”長さを指定した線分”があるので探してクリックしてください</p>
    <p class="mission-explain">先程作成した変数名を”長さ”のところに入力します</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/135">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="136" src="https://www.geogebra.org/material/iframe/id/gqnut3dn/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/137">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
           <iframe scrolling="no" title="136 のコピー" src="https://www.geogebra.org/material/iframe/id/xu5fgvpk/width/700/height/400/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="400px" style="border:0px;"> </iframe>
        </div>
        <div class="lesson-modal-sample-comment">
            <p>完成見本と同じ様になったら</p>
        </div>
    </div>
</div>