<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>3-8. MAX・MINコマンドの使用</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>かなり完成に近づいてきましたね！</p>
                    <p>ただ、前回の演習で完成したものは、垂線の場所によって領域の範囲が消えてしまいますね。</p>
                    <video src="/videos/study138video1.mp4"  width="550px" controls></video>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>その問題を解決するために、今回はあらたなコマンド、MAX・MINコマンドについて学習しよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>MAXコマンドは、MAX（"数値","数値")の形で、入力した2つの数値のうち大きいほうが出力されるのじゃ</p>
                    <p>例えば、MAX(1,2)と入力すれば 2 が出力されるのじゃ。</p>
                    <p>数字だけでなく、数値の変数も入力できるぞ</p>
                    <video src="/videos/study137video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>なるほど！MAXコマンドの入力に変数を設定すれば、変数の値が変わるとそれにしたがって出力も変化するんですね</p>
                </div>
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>MAXコマンドについては理解できました！</p>
                    <p>MINコマンドとは何なのでしょう？</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>MINコマンドは2つの入力の数値のうち小さい方が出力されるコマンドじゃ</p>
                    <p>それ以外はMAXコマンドと変わらないと思ってよいぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>うーん、でもこのコマンドでどうすればうまくいくんだろう…。</p>
                </div>
            </div>
            
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>それでは一つヒントを出そう</p>
                    <p>例えば、MIN(x(A),x(B))で点Aのx座標と点Bのx座標のうち小さい方が出力されるぞ</p>
                    <p>これをうまく使って不等式を立てるのじゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">MAX・MINコマンドを使って領域部分を完成させよう</p>
    <p class="mission-explain">MAXコマンドとMINコマンドを使って不等式を作り、領域部分を完成させよう。</p>
    <p class="mission-explain">２つの垂線が重ならない限り領域の色がついた部分が見えるようにします。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/137">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="137" src="https://www.geogebra.org/material/iframe/id/srpxsgev/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/141">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
           <iframe scrolling="no" title="138見本" src="https://www.geogebra.org/material/iframe/id/ffmccwca/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
        <div class="lesson-modal-sample-comment">
            <p>完成見本と同じ様になったら</p>
        </div>
    </div>
</div>