<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>4-1. MAX・MINコマンドの使用</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>さて、このステップでは下の完成図になるまで進めるぞ</p>
                    <p>難しい演習もあるが、頑張るのじゃ</p>
                    <img src="/images/study141.PNG" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>


            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>入力バーでは、座標を入力することでその座標に点を作図できるぞ</p>
                    <p>座標の中にコマンドも入力できるのじゃ。例を動画で見てみよう</p>
                    <video src="/videos/study141video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>点Aと点Bのx座標を自身のx座標とする点がx軸上に作図されましたね</p>
                </div>
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>そういえば、完成物の見本にある「最大値」「最小値」のような見出しはどうやってつけるのですか？</p>
                    <img src="/images/study141_4.PNG" width="350px">
                </div>
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>ふむふむ。</p>
                    <p>座標にMAX・MINコマンドを使えばy軸上に、１次関数の領域における最大値・最小値を表す点が作図できそうですね！</p>
                    <img src="/images/study141_2.PNG" width="350px">
                    <img src="/images/study141_3.PNG" width="350px">
                </div>
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p></p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>MINコマンドは2つの入力の数値のうち小さい方が出力されるコマンドじゃ</p>
                    <p>それ以外はMAXコマンドと変わらないと思ってよいぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p></p>
                </div>
            </div>
            

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">MAX・MINコマンドを使って最大値・最小値部分を完成させよう</p>
    <p class="mission-explain">２つの黒い点のy座標とMAX・MINコマンドを用いてy軸上に、最大値の点と最小値の点を作図しましょう。</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/beginner/137">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="137" src="https://www.geogebra.org/material/iframe/id/srpxsgev/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/beginner/141">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
           <iframe scrolling="no" title="138見本" src="https://www.geogebra.org/material/iframe/id/ffmccwca/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
        <div class="lesson-modal-sample-comment">
            <p>完成見本と同じ様になったら</p>
        </div>
    </div>
</div>