<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-1. 完成物の確認</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>やあ、きつねくん</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>博士、こんにちは！</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>今日は、きつねくんのために数学の問題を持ってきたぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>え…数学…</p>
                </div>
            </div>
        
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <img src="/images/study211video1.gif" width="500px">
                    <p>この色がついている四角形OABCの面積が一番大きくなるのはどの瞬間だかわかるかな？</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
        
            <div class="lesson-modal-student lesson-modal-dialog ">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>うーん、ちょっとまってください</p>
                    <p>えーっと、ここをθとして…（ｶﾘｶﾘ）</p>
                </div>
            </div>
            
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>実はこの問題、そんなに複雑な計算はいらないのじゃ</p>
                    <p>中学2年生でも解ける問題なんじゃぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>このように補助線を引いてみるとどうじゃ？</p>
                    <img src="/images/study211-1.png" width="450px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>………！</p>
                    <p>三角形OABと三角形OCDが合同だから、四角形OABCの面積は変わらないですね！</p>
                    <img src="/images/study211-2.png" width="450px">
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog ">
                <div class="says-teacher">
                    <p>今回はGeoGebraを使ってこのような教材を作っていくぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">完成物をみてみよう</p>
    <p class="mission-explain">今回作成する教材の完成物の確認をします。実際に触ってみながらどんな機能があるかみてみましょう。</p>
    <p class="mission-explain">確認し終わったら右側の「NextLesson」で次のレッスンに進みましょう。</p>
    <div class="mission-practice">
        <div class="mission-geogebra">
            <iframe scrolling="no" title="正方形教材見本" src="https://www.geogebra.org/material/iframe/id/wubwtf2b/width/1000/height/520/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
            </div>
        </div>

        <a class="next-lesson-btn" href="/study/square/212">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>
