<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-2. 正方形の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>まずは、正方形を作図していくぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>このように、原点を通り一辺の長さが3の正方形を作図しよう</p>
                    <img src="/images/study212-1.png" width="450px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>さらに、今回はこの前とは違うやり方で点を作図していこう</p>
                    <p>下に「入力バー」と呼ばれるものを表示させるようにしたぞ</p>
                    <p>この入力バーに座標を入力するとその点が作図されるのじゃ</p>
                    <video src="/videos/study212video1.mp4"  width="550px" controls></video>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>

            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>点が作図できたら「多角形」で結んでいけばいいですね！</p>
                </div>
            </div>

            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>早速挑戦じゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">正方形を作図してみよう</p>
    <p class="mission-explain">①　原点、点(3,0), 点(3,3), 点(0,3)を頂点とする正方形を作図してみましょう </p>
    <p class="mission-explain">　　座標を下の入力バーで入力しEnterを押すと点が作図されます</p>
    <p class="mission-explain">②　点が作図されたら、「多角形」を選択してそれぞれの点を結びましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/211">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="正方形の作図演習" src="https://www.geogebra.org/material/iframe/id/cfds5wst/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/213">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="正方形の作図演習" src="https://www.geogebra.org/material/iframe/id/mghehbn3/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>