<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-3. 線分の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>次の目指す形はこんなのじゃ</p>
                    <p>線分ACと線分BDを引くために、「2点を結ぶ線分」を使っていくぞ</p>
                    <img src="/images/study213-1.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>「2点を結ぶ線分」を選択したら、2つの点をクリックすることでそれらの点を両端とする線分が作図されるぞ</p>
                    <img src="/images/study213-2.png" width="350px">
                    <img src="/images/study213-3.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>今回のレッスンで教えるのはこれだけじゃ</p>
                    <p>あとはナビにしたがって目指す形と同じものを作成しよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">対角線ともう一つの正方形を作図してみよう</p>
    <p class="mission-explain">①　「2点を結ぶ線分」を選び、正方形の2つの対角線である線分AC,線分BDを作図しましょう</p>
    <p class="mission-explain">②　「点」を選び、2つの対角線の交点である点Eを作図します</p>
    <p class="mission-explain">③　 点E, 点(4.5, 1.5), 点(4.5, 4.5), 点(1.5, 4.5)を頂点とする正方形を作図しましょう </p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/212">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="正方形の作図演習" src="https://www.geogebra.org/material/iframe/id/ss3nepvn/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/214">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="正方形の作図演習" src="https://www.geogebra.org/material/iframe/id/yp4frmm5/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>