<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-4. スライダーの作成</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia show">
                <div class="says-teacher">
                    <p>正方形を回転させるために、スライダーを作成しよう</p>
                    <p>「スライダー」を選択して、図の上でクリック</p>
                    <img src="/images/study214-1.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>「角度」を選択して「OK」じゃ</p>
                    <img src="/images/study214-2.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog lesson-modal-visualmedia">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>スライダーとともにαという文字が現れました！</p>
                    <img src="/images/study214-3.png" width="450px">
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>このαという文字が変数になっているのじゃ</p>
                    <p>この変数を利用することで様々な事ができるようになるのじゃぞ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>詳しくは次のレッスンでやることにしよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">スライダーを作成しよう</p>
    <p class="mission-explain">①　「スライダー」をクリックしましょう</p>
    <p class="mission-explain">②　「角度」を選択して「OK」をクリックしましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/213">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="線分の作図見本" src="https://www.geogebra.org/material/iframe/id/yp4frmm5/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/215">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="正方形の作図演習" src="https://www.geogebra.org/material/iframe/id/yp4frmm5/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>