<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-5. 回転する正方形の作図</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>変数によって正方形が回転する仕組みをつくってみよう</p>
                    <p>「大きさを指定した角度」を選択すると、指定した角度だけ回転する点が作図されるのじゃ</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                <div class="says-teacher-videotxt">
                    <div class="says-visualmedia">
                    <video src="/videos/study215video1.mp4"  width="500px" controls></video>
                    </div>
                    <div class="says-text">
                    <p>①「大きさを指定した角度」を選択</p>
                    <p>②回転させたい点をクリック</p>
                    <p>③回転の中心となる点をクリック</p>
                    <p>④回転する角度を入力</p>
                    </div>
                </div>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>角度に変数を入力するとスライダーに合わせて点が動くようになっていますね</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>これを利用して点Eを中心として回転する正方形を作図してみよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">スライダーで回転する正方形を作図しよう</p>
    <p class="mission-explain">①　「大きさを指定した角度」を選択し、点Fが点Eを中心に角度αだけ回転した点を作図しましょう</p>
    <p class="mission-explain">②　 同様に点G、点Hに関して点Eを中心に角度αだけ回転した点を作図しましょう</p>
    <p class="mission-explain">③　「多角形」を選択し、点Eと新たに作図された3点を結ぶ正方形を作図しましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/214">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="線分の作図見本 のコピー" src="https://www.geogebra.org/material/iframe/id/eg76mkwq/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/216">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="回転する正方形見本" src="https://www.geogebra.org/material/iframe/id/zg3eywue/width/700/height/420/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>