<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-6.チェックボックスの作成 </p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-teacher lesson-modal-dialog show">
                <div class="says-teacher">
                    <p>さあ、もう終わりは近いぞ</p>
                    <p>次は、今回の教材の補助線となる線分をチェックボックスによって表示・非表示を切り替える仕組みをつくっていこう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>①「表示/非表示のチェックボックス」を選択し、適当な場所をクリック</p>
                    <img src="/images/study216-0.png" width="350px">
                    
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>②画面が出てくるので、チェックボックスの見出しをつける</p>
                    <img src="/images/study216-1.png" width="350px">
                    <%# <img src="/images/study216-2.png" width="350px">
                    <img src="/images/study216-3.png" width="350px"> %>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>③ ▼ をクリックし、表示/非表示を切り替えるオブジェクトを選択</p>
                    <%# <img src="/images/study216-1.png" width="350px"> %>
                    <img src="/images/study216-2.png" width="350px">
                    <img src="/images/study216-3.png" width="350px">
                    <%# <img src="/images/study216-3.png" width="350px"> %>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>④OKを押すとチェックボックスが作成されるぞ</p>
                    <img src="/images/study216video1.gif" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>一つのチェックボックスで複数のオブジェクトの表示・非表示を切り替えたい場合は</p>
                    <p>その分のオブジェクトを選択する必要があるんですね</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog">
                <div class="says-teacher">
                    <p>そのとおりじゃ</p>
                    <p>早速、補助線のチェックボックスを作成してみよう</p>
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">補助線のチェックボックスを作成しよう</p>
    <p class="mission-explain">①　「表示/非表示のチェックボックス」を選択しましょう</p>
    <p class="mission-explain">②　 見出しに「補助線」と名前をつけましょう</p>
    <p class="mission-explain">③　2点を結ぶ線分fと2点を結ぶ線分gを選択し、OKボタンをクリックしましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/215">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="チェックボックス演習" src="https://www.geogebra.org/material/iframe/id/macmj7bb/width/1000/height/520/border/888888/sfsb/true/smb/false/stb/true/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/217">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="チェックボックス見本 " src="https://www.geogebra.org/material/iframe/id/bfkakrvt/width/700/height/420/border/888888/sfsb/true/smb/false/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/false/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>