<div class="lesson-modal-wrapper">
    <div class="lesson-modal">
        <div class="lesson-modal-upper">
            <div class="lesson-modal-upper-title"><p>1-7. オブジェクトの装飾</p></div>
            <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-contents">
            <div class="lesson-modal-student lesson-modal-dialog show">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>なんかごちゃごちゃしていますね</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>そういうときは、数式ビューの左側の●をクリックすることで, オブジェクトの表示非表示を切り替えることができるのじゃ</p>
                    <img src="/images/study217-1.png" width="380px">
                    <img src="/images/study217-2.png" width="380px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>さらに、オブジェクトを右クリックし、ラベルの表示のチェックを外すことで、ラベルを削除することができるぞ</p>
                    <img src="/images/study217-3.png" width="350px">
                    <img src="/images/study217-4.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>オブジェクトを選択、右クリックで設定を選ぶとそのオブジェクトについての様々な設定ができる</p>
                    <img src="/images/study217-5.png" width="350px">
                    <img src="/images/study217-7.png" width="280px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>回転しない正方形と回転する正方形で色を変えたい場合はどうすればいいんですか？</p>
                </div>
            </div>
            <div class="lesson-modal-teacher lesson-modal-dialog lesson-modal-visualmedia">
                <div class="says-teacher">
                    <p>「色」のタブを選び、色を選択するとオブジェクトがその色に変わるぞ</p>
                    <img src="/images/study217-6.png" width="280px">
                    <img src="/images/study217-8.png" width="350px">
                </div>
                <img src="/images/doctor.png" alt="teacher">
            </div>
            <div class="lesson-modal-student lesson-modal-dialog">
                <img src="/images/fox.png" alt="student" width="128px">
                <div class="says-student">
                    <p>これで教材をスッキリ、きれいに見せることができますね！</p>
                </div>
            </div>
            
            <div class="lesson-modal-btn lesson-prev-btn"><i class="fas fa-arrow-circle-left"></i></div>
            <div class="lesson-modal-btn lesson-next-btn"><i class="fas fa-arrow-circle-right"></i></div>
            <div class="lesson-modal-close-btn lesson-toex-btn">演習</div>
        </div>
    </div>
</div>
            
        
<div class="mission-wrapper">
    <p class="mission-title">教材を完成させよう</p>
    <p class="mission-explain">①　左側にある数式ビューで "点E以外の点" をすべて非表示にしましょう</p>
    <p class="mission-explain">②　左側にある数式ビューで "角β,角γ,角δ" を非表示にしましょう</p>
    <p class="mission-explain">③　回転する正方形の基準となった "四角形q2(四角形EFGH)" を非表示にしましょう</p>
    <p class="mission-explain">④　"すべての線分のラベル" を非表示にしましょう</p>
    <p class="mission-explain">⑤　回転する正方形 "四角形q3(四角形EF'G'H')" の色を青系の色に変えましょう</p>
    <div class="mission-practice">
        <a class="prev-lesson-btn" href="/study/square/216">
            <p>Prev<br>Lesson</p>
        </a>
        <div class="mission-geogebra">
            <iframe scrolling="no" title="装飾演習" src="https://www.geogebra.org/material/iframe/id/dx9vh9xs/width/1000/height/520/border/888888/sfsb/true/smb/true/stb/false/stbh/false/ai/true/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="1000px" height="520px" style="border:0px;"> </iframe>
            <div class="mission-hint">
                <div class="mission-hint-howto ">
                    <i class="far fa-lightbulb mission-hint-icon"></i>
                    <p class="mission-hint-text">もう一度確認する</p>
                </div>
                <div class="mission-hint-sample">
                    <i class="fas fa-flag mission-hint-icon"></i>
                    <p class="mission-hint-text">完成見本をみる</p>
                </div>
            </div>
        </div>
        <a class="next-lesson-btn" href="/study/square/218">
            <p>Next<br>Lesson</p>
        </a>
    </div>
</div>

<div class="lesson-modal-sample-wrapper">
    <div class="lesson-modal-sample">
        <div class="lesson-modal-upper">
                <div class="lesson-modal-close-btn lesson-modal-upper-btn"><i class="fas fa-times"></i></div>
        </div>
        <div class="lesson-modal-sample-geo">
        <iframe scrolling="no" title="ラベル削除見本" src="https://www.geogebra.org/material/iframe/id/eakqvf75/width/700/height/420/border/888888/sfsb/true/smb/true/stb/true/stbh/false/ai/false/asb/false/sri/true/rc/true/ld/false/sdz/true/ctl/false" width="700px" height="420px" style="border:0px;"> </iframe>
        </div>
    </div>
</div>