<div class="main-top">
                
                <div class="study-lesson-wrapper">
                    <div class="study-lesson-container">
                        <div class="study-lesson-step">
                            <h2><i class="fas fa-shoe-prints"></i>STEP 1</h2>
                        </div>
                        <div class="study-lesson-img">
                            <img src="http://placehold.it/130x80">
                        </div>
                        <div class="study-lesson-text">
                            <p>完成物をみてみよう</p>
                        </div>
                    </div>
                    <ul class="study-lesson-list">

                        <li>
                            <a class="study-link" href="/study/beginner/111">
                                完成物の確認
                            </a>
                        </li>
                    </ul>
                            <div class="arrowbar">
                                <img class="arrow" src="/images/ruler.png" width="16px">
                            </div>
                </div>

                <div class="study-lesson-wrapper">
                    <!-- <i class="fas fa-sort-down"></i> -->
                    <div class="study-lesson-container">
                        <div class="study-lesson-step">
                            <!-- <img src="img/footprints.png" width="30px" height="30px"> -->
                            <h2><i class="fas fa-shoe-prints"></i>STEP 2</h2>
                        </div>
                        <div class="study-lesson-img">
                            <img src="http://placehold.it/130x80">
                        </div>
                        <div class="study-lesson-text">
                            <p>自由に動かせる直線を作ってみよう</p>
                        </div>
                    </div>
                    <ul class="study-lesson-list">
                        <li>
                            <a class="study-link" href="/study/beginner/121">
                                点の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/122">
                                2点を通る直線の作図
                            </a>
                        </li>
                    </ul>

                    <div class="arrowbar">
                        <img class="arrow" src="/images/ruler.png" width="16px">
                    </div>
                </div>
                
                <div class="study-lesson-wrapper">
                    <div class="study-lesson-container">
                        <div class="study-lesson-step">
                            <!-- <img src="img/footprints.png" width="30px" height="30px"> -->
                            <h2><i class="fas fa-shoe-prints"></i>STEP 3</h2>
                        </div>
                        <div class="study-lesson-img">
                            <img src="http://placehold.it/130x80">
                        </div>
                        <div class="study-lesson-text">
                            <p>範囲</p>
                        </div>
                    </div>
                    <ul class="study-lesson-list">
                        <li>
                            <a class="study-link" href="/study/beginner/131">
                                点の移動
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/132">
                                垂線の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/133">
                                交点の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/134">
                                数式ビュー・入力バーの表示
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/135">
                                入力コマンドの使用
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/136">
                                x座標・y座標の取り出し方
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/137">
                                MAX・MINコマンド
                            </a>
                        </li>
                    </ul>

                    <div class="arrowbar">
                        <img class="arrow" src="/images/ruler.png" width="16px">
                    </div>
                </div>

                <div class="study-lesson-wrapper">
                    <div class="study-lesson-container">
                        <div class="study-lesson-step">
                            <!-- <img src="img/footprints.png" width="30px" height="30px"> -->
                            <h2><i class="fas fa-shoe-prints"></i>STEP 4</h2>
                        </div>
                        <div class="study-lesson-img">
                            <img src="http://placehold.it/130x80">
                        </div>
                        <div class="study-lesson-text">
                            <p>最大値・最小値を表示しよう</p>
                        </div>
                    </div>
                    <ul class="study-lesson-list">
                        <li>
                            <a class="study-link" href="/study/beginner/141">
                                オブジェクトの非表示
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/beginner/142">
                                実線と破線
                            </a>
                        </li>
                    </ul>
                    <div class="arrowbar">
                        <img class="arrow" src="/images/ruler.png" width="16px">
                    </div>
                </div>
            </div>