<main>
            <div class="study-top-wrapper">
                <div class="main-top">
                    <div class="study-top-contents-wrapper">
                        <a class="study-top-container" href="/study/beginner">
                            <div class="study-top-item-img">
                                <img src="/images/study_top_1.PNG" width="100%" alt="study001"> 
                            </div> 
                            <div class="study-top-item-txt">
                                <h1 class="study-top-item-txt-diff">初級</h1>
                                <p>1次関数の最大・最小値がイメージできるような教材をつくってみましょう</p>
                            </div>
                        </a>
                    
                        <div class="study-top-container">
                            <div class="study-top-item-img">
                                <img src="img/study_top_1.PNG" width="100%" alt="study002"> 
                            </div> 
                            <div class="study-top-item-txt">
                                <h1 class="study-top-item-txt-diff">
                                    準備中
                                </h1>
                            </div>
                        </div>
                    
                        <div class="study-top-container">
                            <div class="study-top-item-img">
                                <img src="img/study_top_1.PNG" width="100%" alt="study003"> 
                            </div> 
                            <div class="study-top-item-txt">
                                
                                <h1 class="study-top-item-txt-diff">
                                    準備中
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>