<div class="study-selectpage-main">
                <div class="study-lesson-wrapper">
                    <!-- <i class="fas fa-sort-down"></i> -->
                    <div class="study-lesson-container">
                        <div class="study-lesson-step">
                            <!-- <img src="img/footprints.png" width="30px" height="30px"> -->
                            <h2><i class="fas fa-shoe-prints"></i>STEP 1</h2>
                        </div>
                        <div class="study-lesson-text">
                            <p>2つの正方形の教材を作図しよう</p>
                        </div>
                    </div>
                    <ul class="study-lesson-list">
                        <li>
                            <a class="study-link" href="/study/square/211">
                                1-1. 完成物の確認
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/212">
                                1-2. 正方形の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/213">
                                1-3. 線分の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/214">
                                <p>1-4. スライダーの作成</p>
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/215">
                                1-5. 回転する正方形の作図
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/216">
                                1-6. チェックボックスの作成
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/217">
                                1-7. オブジェクトの装飾
                            </a>
                        </li>
                        <li>
                            <a class="study-link" href="/study/square/218">
                                1-8. 総合演習
                            </a>
                        </li>
                    </ul>

                    <div class="arrowbar">
                        <img class="arrow" src="/images/ruler.png" width="16px">
                    </div>
                </div>
               

                
            </div>